name: CI/CD workflow

on: workflow_dispatch

env:
  AWS_REGION: 'us-east-1'
  ECR_REPOSITORY: 'sentiment-app-onnx'
  S3_BUCKET_NAME: 'mlops-lab11-models-pk'

jobs:
  integration:
    name: checks_and_tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code repo
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync --locked --dev

      - name: Run ruff check
        uses: astral-sh/ruff-action@v3

      - name: Run pytest
        run: uv run pytest tests/

  deployment:
    name: deploy_model
    runs-on: ubuntu-latest
    needs: integration
    steps:
      - name: Checkout code repo
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync --locked --dev

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        with:
          mask-password: 'true'

      - name: Download artifacts from S3
        run: uv run src/scripts/download_artifacts.py

      - name: Export models to ONNX
        run: |
          uv run src/scripts/export_classifier_to_onnx.py
          uv run src/scripts/export_sentence_transformer_to_onnx.py

      - name: Build and Push Docker image
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: ${{ env.ECR_REPOSITORY }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $REPOSITORY:$IMAGE_TAG .
          docker tag $REPOSITORY:$IMAGE_TAG $REGISTRY/$REPOSITORY:$IMAGE_TAG
          docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG